* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5_162 {
  width: 100%;
  height: 1024px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v21_114 {
  width: 100%;
  height: 372px;
  background: url(../images/v21_114.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40%;
  left: 0%;
  overflow: hidden;
}
.v5_225 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 5%;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v12_8 {
  width: 100%;
  height: 64px;
  background: url(../images/v12_8.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 119px;
  left: 5%;
  overflow: hidden;
}
.v12_9 {
  width: 100%;
  height: 64px;
  background: url("../images/v12_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_10 {
  width: 590px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v12_11 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 1153px;
  border-radius: 50%;
}
.v12_12 {
  width: 100%;
  height: 64px;
  background: url(../images/v12_12.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 215px;
  left: 5%;
  overflow: hidden;
}
.v12_13 {
  width: 100%;
  height: 64px;
  background: url("../images/v12_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_14 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0%;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v12_15 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 1153px;
  border-radius: 50%;
}
.v12_16 {
  width: 100%;
  height: 64px;
  background: url(../images/v12_16.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 308px;
  left: 5%;
  overflow: hidden;
}
.v12_17 {
  width: 100%;
  height: 64px;
  background: url("../images/v12_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_18 {
  width: 124px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v12_19 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 1153px;
  border-radius: 50%;
}
.v21_113 {
  width: 100%;
  height: 448px;
  background: url("../images/v21_113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 0%;
  overflow: hidden;
}
.v5_224 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 5%;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v12_0 {
  width: 100%;
  height: 64px;
  background: url(../images/v12_0.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 5%;
  overflow: hidden;
}
.v12_6 {
  width: 100%;
  height: 64px;
  background: url("../images/v12_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_1 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v12_2 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 1153px;
  border-radius: 50%;
}
.v15_2 {
  width: 100%;
  height: 256px;
  background: url(../images/v15_2.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 192px;
  left: 5%;
  overflow: hidden;
}
.v12_3 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0%;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v12_5 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 107px;
  left: 1153px;
  border-radius: 50%;
}
.v45_20 {
  width: 100%;
  height: 111px;
  background: url(../images/v45_20.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 90%;
  left: 70%;
  overflow: hidden;
}
.v45_21 {
  width: 25%;
  height: 111px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v45_22 {
  width: 100%;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 20px;
  left: 15%;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
