* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v31_28 {
  width: 100%;
  height: 1024px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v31_31 {
  width: 546px;
  height: 560px;
  background: url(../images/v31_31.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 831px;
  left: 5%;
  overflow: hidden;
}
.v31_32 {
  width: 378px;
  height: 380px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 70%;
  border-radius: 50%;
}
.v31_39 {
  width: 514px;
  height: 512px;
  background: url(../images/v31_39.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 15%;
  overflow: hidden;
}
.v31_29 {
  width: 514px;
  height: 512px;
  background: url(../images/v31_29.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 729px;
  right: 10%;
  overflow: hidden;
}
.v31_34 {
  width: 100%;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 290px;
  left: 0%;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 288px;
  opacity: 1;
  text-align: left;
}
.v31_35 {
  width: 617px;
  height: 10px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 897px;
  left: 24px;
  overflow: hidden;
}
.v31_36 {
  width: 811px;
  height: 10px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 867px;
  left: 24px;
  overflow: hidden;
}
.v45_35 {
  width: 100%;
  height: 111px;
  background: url(../images/v45_35.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 70%;
  left: 80%;
  overflow: hidden;
}
.v45_36 {
  width: 15%;
  height: 111px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v45_37 {
  width: 100%;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 20px;
  left: 3%;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
