* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v31_71 {
  width: 100%;
  height: 1024px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v45_8 {
  width: 100%;
  height: 784px;
  background: url(../images/v45_8.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20%;
  left: 10%;
  overflow: hidden;
}
.v31_72 {
  width: 70%;
  height: 95%;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 15%;
  border: 10px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v45_7 {
  width: 100%;
  height: 59px;
  background: url(../images/v45_7.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0%;
  overflow: hidden;
}
.v31_73 {
  width: 73px;
  height: 59px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v45_5 {
  width: 31px;
  height: 7px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 25px;
  left: 22px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v45_4 {
  width: 37px;
  height: 6px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 18px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v45_6 {
  width: 100%;
  height: 59px;
  background: url(../images/v45_6.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 0%;
  overflow: hidden;
}
.v31_74 {
  width: 73px;
  height: 59px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v45_3 {
  width: 37px;
  height: 6px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 18px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
.v52_1 {
  width: 100%;
  height: 177px;
  background: url(../images/v52_1.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 30%;
  overflow: hidden;
}
.v52_2 {
  width: 100%;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 0px;
  left: 15%;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 144px;
  opacity: 1;
  text-align: left;
}
.v52_3 {
  width: 20%;
  height: 10px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 149px;
  left: 15%;
  overflow: hidden;
}
.v52_4 {
  width: 50%;
  height: 10px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 167px;
  left: 0%;
  overflow: hidden;
}