* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v21_169 {
  width: 100%;
  height: 1024px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v31_12 {
  width: 95%;
  height: 808px;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 2%;
}
.v21_170 {
  width: 100%;
  height: 20%;
  opacity: 1;
  position: absolute;
  top: 20%;
  left: 0px;
  overflow: hidden;
}
.v21_171 {
  width: 412px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_172 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v21_173 {
  width: 100%;
  height: 20%;
  opacity: 1;
  position: absolute;
  top: 40%;
  left: 0px;
  overflow: hidden;
}
.v21_174 {
  width: 413px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_175 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v21_185 {
  width: 100%;
  height: 20%;
  opacity: 1;
  position: absolute;
  top: 80%;
  left: 0px;
  overflow: hidden;
}
.v21_186 {
  width: 383px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_187 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v21_188 {
  width: 100%;
  height: 20%;
  opacity: 1;
  position: absolute;
  top: 60%;
  left: 0px;
  overflow: hidden;
}
.v21_189 {
  width: 188px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_190 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v21_163 {
  width: 100%;
  height: 20%;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v21_164 {
  width: 100%;
  color: rgba(247,154,41,1);
  position: absolute;
  bottom: 50%;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 53px;
  opacity: 1;
  text-align: left;
}
.v21_165 {
  width: 63%;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v45_44 {
  width: 239px;
  height: 111px;
  opacity: 1;
  position: absolute;
  bottom: 2%;
  right: 5%;
  overflow: hidden;
}
.v45_45 {
  width: 239px;
  height: 111px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v45_46 {
  width: 118px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 20px;
  left: 61px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
