* {
  box-sizing: border-box;
}
@media screen and (max-width: 1080px) {
  body {
    font-size: 40px;
  }  
}
@media screen and (max-width: 600px) {
  body {
    font-size: 30px;
  }  
}
@media screen and (min-width: 1080px) {
  body {
    font-size: 50px;
  }
}
.v31_6 {
  width: 100%;
  height: 1024px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v31_5 {
  width: 100%;
  height: 372px;
  background: url("../images/v31_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 2%;
  overflow: hidden;
}
.v21_231 {
  width: 95%;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 100%;
  opacity: 1;
  text-align: left;
}
.v21_232 {
  width: 90%;
  height: 64px;
  opacity: 1;
  position: absolute;
  top: 25%;
  left: 5%;
  overflow: hidden;
}
.v21_234 {
  width: 80%;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 100%;
  opacity: 1;
  text-align: left;
}
.v21_235 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 75%;
  border-radius: 50%;
}
.v21_236 {
  width: 90%;
  height: 64px;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 5%;
  overflow: hidden;
}
.v21_238 {
  width: 739px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_239 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 1153px;
  border-radius: 50%;
}
.v21_240 {
  width: 90%;
  height: 64px;
  opacity: 1;
  position: absolute;
  top: 75%;
  left: 5%;
  overflow: hidden;
}
.v21_242 {
  width: 124px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_243 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 1153px;
  border-radius: 50%;
}
.v31_17 {
  width: 300px;
  height: 107px;
  opacity: 1;
  position: absolute;
  bottom: 2%;
  right: 5%;
  overflow: hidden;
}
.v31_18 {
  width: 300px;
  height: 107px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v31_19 {
  width: 181px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 18px;
  left: 60px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
