* {
  box-sizing: border-box;
}

@media screen and (max-width: 1080px) {
  body {
    font-size: 40px;
  }  
}
@media screen and (max-width: 600px) {
  body {
    font-size: 30px;
  }  
}
@media screen and (min-width: 1080px) {
  body {
    font-size: 50px;
  }
}
.v21_229 {
  width: 100%;
  height: 1280px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v31_4 {
  width: 95%;
  height: 448px;
  position: absolute;
  top: 675px;
  left: 2%;
  overflow: hidden;
}
.v21_245 {
  width: 100%;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 100%;
  opacity: 1;
  text-align: left;
}
.v21_246 {
  width: 90%;
  height: 21%;
  opacity: 1;
  position: absolute;
  top: 15%;
  left: 5%;
}
.v21_248 {
  width: 100%;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 100%;
  opacity: 1;
  text-align: left;
}
.v21_249 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  right: 0px;
  border-radius: 50%;
}
.v21_250 {
  width: 90%;
  height: 63%;
  position: absolute;
  top: 43%;
  left: 5%;
  overflow: hidden;
}
.v21_251 {
  width: 100%;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 100%;
  opacity: 1;
  text-align: left;
}
.v21_252 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 107px;
  right: 0px;
  border-radius: 50%;
}
.v31_3 {
  width: 95%;
  height: 620px;
  position: absolute;
  top: 50px;
  left: 2%;
  overflow: hidden;
}
.v21_204 {
  width: 100%;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 100%;
  opacity: 1;
  text-align: left;
}
.v21_205 {
  width: 90%;
  height: 64px;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 20%;
  left: 5%;
  overflow: hidden;
}
.v21_206 {
  width: 80%;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 100%;
  opacity: 1;
  text-align: left;
}
.v21_207 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  right: 0px;
  border-radius: 50%;
}
.v21_208 {
  width: 90%;
  height: 64px;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 30%;
  left: 5%;
  overflow: hidden;
}
.v21_209 {
  width: 223px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_210 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 294px;
  border-radius: 50%;
}
.v21_211 {
  width: 90%;
  height: 64px;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 40%;
  left: 5%;
  overflow: hidden;
}
.v21_212 {
  width: 398px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_213 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 438px;
  border-radius: 50%;
}
.v21_214 {
  width: 90%;
  height: 64px;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 5%;
  overflow: hidden;
}
.v21_215 {
  width: 500px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_216 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 542px;
  border-radius: 50%;
}
.v21_217 {
  width: 90%;
  height: 64px;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 60%;
  left: 5%;
  overflow: hidden;
}
.v21_218 {
  width: 254px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_219 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 294px;
  border-radius: 50%;
}
.v21_220 {
  width: 90%;
  height: 64px;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 70%;
  left: 5%;
  overflow: hidden;
}
.v21_221 {
  width: 115px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_222 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 195px;
  border-radius: 50%;
}
.v21_223 {
  width: 90%;
  height: 64px;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 80%;
  left: 5%;
  overflow: hidden;
}
.v21_224 {
  width: 144px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_225 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 195px;
  border-radius: 50%;
}
.v21_226 {
  width: 90%;
  height: 64px;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 90%;
  left: 5%;
  overflow: hidden;
}
.v21_227 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 226px;
  border-radius: 50%;
}
.v21_228 {
  width: 186px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v45_38 {
  width: 239px;
  height: 111px;
  opacity: 1;
  position: absolute;
  bottom: 2%;
  right: 5%;
  overflow: hidden;
}
.v45_39 {
  width: 239px;
  height: 111px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v45_40 {
  width: 118px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 20px;
  left: 61px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
