* {
  box-sizing: border-box;
}
@media screen and (max-width: 900px) {
  body {
    font-size: 40px;
  }  
}
@media screen and (min-width: 900px) {
  body {
    font-size: 50px;
  }
}
.v21_191 {
  width: 100%;
  height: 1024px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v31_13 {
  width: 95%;
  height: 808px;
  opacity: 1;
  position: absolute;
  top: 47px;
  left: 2%;
}
.v31_2 {
  width: 100%;
  height: 40%;
  opacity: 1;
  position: absolute;
  top: 60%;
  left: 0px;
  overflow: hidden;
}
.v21_193 {
  width: 100%;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 100%;
  opacity: 1;
  text-align: left;
}
.v21_194 {
  width: 100%;
  height: 64px;
  opacity: 1;
  position: absolute;
  top: 22%;
  left: 0px;
  overflow: hidden;
}
.v21_195 {
  width: 63%;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.v21_196 {
  width: 30%;
  color: rgba(247,154,41,1);
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 50px;
  opacity: 1;
  text-align: left;
}
.v21_197 {
  width: 100%;
  height: 64px;
  opacity: 1;
  position: absolute;
  top: 44%;
  left: 0px;
  overflow: hidden;
}
.v21_198 {
  width: 143px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_199 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 197px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v21_200 {
  width: 100%;
  height: 64px;
  opacity: 1;
  position: absolute;
  top: 66%;
  left: 0px;
  overflow: hidden;
}
.v21_201 {
  width: 123px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_202 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 197px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v21_176 {
  width: 100%;
  height: 20%;
  opacity: 1;
  position: absolute;
  top: 40%;
  left: 0px;
  overflow: hidden;
}
.v21_177 {
  width: 100%;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_178 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v21_179 {
  width: 100%;
  height: 20%;
  opacity: 1;
  position: absolute;
  top: 20%;
  left: 0px;
  overflow: hidden;
}
.v21_180 {
  width: 412px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_181 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v21_182 {
  width: 100%;
  height: 20%;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v21_183 {
  width: 100%;
  color: rgba(247,154,41,1);
  position: absolute;
  bottom: 50%;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 100%;
  opacity: 1;
  text-align: left;
}
.v21_184 {
  width: 63%;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  bottom: 0px;
  right: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v45_41 {
  width: 239px;
  height: 111px;
  opacity: 1;
  position: absolute;
  bottom: 2%;
  right: 5%;
  overflow: hidden;
}
.v45_42 {
  width: 239px;
  height: 111px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v45_43 {
  width: 118px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 20px;
  left: 61px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
