* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v21_147 {
  width: 100%;
  height: 1024px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.table {
  width: 90%;
  height: 625px;
  opacity: 1;
  position: absolute;
  top: 257px;
  left: 2%;
  overflow: hidden;
}
.v21_151 {
  width: 100%;
  height: 64px;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0%;
}
.v21_152 {
  width: 30%;
  color: rgba(247,154,41,1);
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_153 {
  width: 63%;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  bottom: 0px;
  right: 10px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.v21_154 {
  width: 100%;
  height: 64px;
  opacity: 1;
  position: absolute;
  top: 60%;
  left: 0%;
}
.v21_157 {
  width: 100%;
  height: 64px;
  opacity: 1;
  position: absolute;
  top: 40%;
  left: 0%;
}
.v21_160 {
  width: 100%;
  height: 64px;
  opacity: 1;
  position: absolute;
  top: 80%;
  left: 0%;
}
.v21_166 {
  width: 100%;
  height: 64px;
  opacity: 1;
  position: absolute;
  top: 20%;
  left: 0%;
}
.v31_9 {
  width: 811px;
  height: 187px;
  background: url("../images/v31_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v21_270 {
  width: 409px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 0px;
  left: 3%;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 144px;
  opacity: 1;
  text-align: left;
}
.v21_271 {
  width: 350px;
  height: 10px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 0px;
  overflow: hidden;
}
.v21_272 {
  width: 611px;
  height: 10px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 177px;
  left: 0px;
  overflow: hidden;
}
.v45_47 {
  width: 239px;
  height: 111px;
  opacity: 1;
  position: absolute;
  bottom: 2%;
  right: 5%;
  overflow: hidden;
}
.v45_48 {
  width: 239px;
  height: 111px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v45_49 {
  width: 118px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 20px;
  left: 61px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
