* {
  box-sizing: border-box;
}
body {
  font-size: 250px;
  margin: 0%;
}
.v1 {
  width: 90%;
  color: rgba(229,229,229,1);
  top: 100px;
  left: 3%;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 7vw;
  opacity: 1;
  position: absolute;
  text-align: left;
}
.v2 {
  width: 90%;
  color: rgba(229,229,229,1);
  top: 100px;
  left: 25%;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 7vw;
  opacity: 1;
  position: absolute;
  text-align: left;
}
.v19_16 {
  width: 100%;
  height: 100vh;
  background: url(../images/crop.jpg) no-repeat center center fixed;;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.group {
  bottom: 100px;
  height: 24vw;
  min-width: 700px;
  width: 100%;
  position: fixed;
  grid-template-columns: 17vw;
}
.v5_26 {
  width: 90%;
  color: rgba(247,154,41,1);
  top: 0px;
  left: 5%;
  text-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  font-family: Special Elite;
  font-weight: Regular;
  font-size: 17vw;
  opacity: 1;
  position: absolute;
  text-align: left;
  vertical-align: top;
}
.v5_27 {
  width: 90%;
  color: rgba(229,229,229,1);
  bottom: 0px;
  left: 3%;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 7vw;
  opacity: 1;
  position: absolute;
  text-align: left;
}
.v5_36 {
  width: 227px;
  color: rgba(247,154,41,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Special Elite;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
/* */
