* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v21_256 {
  width: 100%;
  height: 1024px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v31_23 {
  width: 496px;
  height: 508px;
  background: url(../images/v31_23.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 481px;
  left: 0%;
  overflow: hidden;
}
.v21_253 {
  width: 40%;
  height: 10px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 32%;
  left: 0px;
  overflow: hidden;
}
.v21_254 {
  width: 70%;
  height: 10px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 30%;
  left: 0px;
  overflow: hidden;
}
.v21_255 {
  width: 100%;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 27px;
  left: 5%;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 288px;
  opacity: 1;
  text-align: left;
}
.v21_259 {
  width: 100%;
  height: 88px;
  background: url(../images/v21_259.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 401px;
  left: 10%;
  overflow: hidden;
}
.v21_260 {
  width: 837px;
  height: 88px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v21_261 {
  width: 160px;
  color: rgba(159,152,152,1);
  position: absolute;
  top: 8px;
  left: 66px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v21_262 {
  width: 100%;
  height: 88px;
  background: url(../images/v21_262.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 537px;
  left: 10%;
  overflow: hidden;
}
.v21_263 {
  width: 837px;
  height: 88px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v21_264 {
  width: 250px;
  color: rgba(159,152,152,1);
  position: absolute;
  top: 8px;
  left: 66px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v21_265 {
  width: 386px;
  height: 107px;
  background: url(../images/v21_265.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 699px;
  left: 30%;
  overflow: hidden;
}
.v21_266 {
  width: 100%;
  height: 107px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v21_267 {
  width: 100%;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 18px;
  left: 25%;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v31_24 {
  width: 410px;
  height: 410px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 224px;
  left: 1222px;
}
