* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5_45 {
  width: 100%;
  height: 1024px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_46 {
  width: 617px;
  height: 10px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 279px;
  left: 0px;
  overflow: hidden;
}
.v5_47 {
  width: 811px;
  height: 10px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 263px;
  left: 0px;
  overflow: hidden;
}
.v5_48 {
  width: 100%;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 36px;
  left: 32px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 288px;
  opacity: 1;
  text-align: left;
}
.v21_257 {
  width: 90%;
  height: 405px;
  background: url(../images/v21_257.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 376px;
  left: 20%;
  overflow: hidden;
}
.v5_52 {
  width: 80%;
  height: 88px;
  background: url(../images/v5_52.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 2%;
  overflow: hidden;
}
.v5_49 {
  width: 90%;
  height: 88px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v5_51 {
  width: 160px;
  color: rgba(159,152,152,1);
  position: absolute;
  top: 8px;
  left: 66px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v5_53 {
  width: 80%;
  height: 88px;
  background: url(../images/v5_53.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 2%;
  overflow: hidden;
}
.v5_54 {
  width: 90%;
  height: 88px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 5%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v5_55 {
  width: 250px;
  color: rgba(159,152,152,1);
  position: absolute;
  top: 8px;
  left: 66px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v21_138 {
  width: 90%;
  height: 107px;
  background: url(../images/v21_138.png);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 298px;
  left: 15%;
  overflow: hidden;
}
.v5_56 {
  width: 386px;
  height: 107px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v5_57 {
  width: 175px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 18px;
  left: 107px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v5_58 {
  width: 90%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 792px;
  left: 42%;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
