* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5_76 {
  width: 100%;
  height: 1024px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_107 {
  width: 100%;
  height: 80px;
  background: url("../images/v5_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 53px;
  overflow: hidden;
}
.v5_108 {
  width: 412px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v5_109 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v5_110 {
  width: 100%;
  height: 80px;
  background: url("../images/v5_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 186px;
  left: 53px;
  overflow: hidden;
}
.v5_111 {
  width: 413px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v5_112 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v5_131 {
  width: 100%;
  height: 148px;
  background: url("../images/v5_131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 756px;
  left: 53px;
  overflow: hidden;
}
.v5_117 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v5_118 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v5_119 {
  width: 100%;
  height: 80px;
  background: url("../images/v5_119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 642px;
  left: 53px;
  overflow: hidden;
}
.v5_120 {
  width: 412px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v5_121 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v5_122 {
  width: 100%;
  height: 80px;
  background: url("../images/v5_122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 528px;
  left: 53px;
  overflow: hidden;
}
.v5_123 {
  width: 385px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v5_124 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v5_125 {
  width: 100%;
  height: 80px;
  background: url("../images/v5_125.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 414px;
  left: 53px;
  overflow: hidden;
}
.v5_126 {
  width: 383px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v5_127 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v5_128 {
  width: 100%;
  height: 80px;
  background: url("../images/v5_128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 300px;
  left: 53px;
  overflow: hidden;
}
.v5_129 {
  width: 188px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v5_130 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v45_14 {
  width: 239px;
  height: 111px;
  background: url("../images/v45_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 904px;
  left: 1201px;
  overflow: hidden;
}
.v45_15 {
  width: 239px;
  height: 111px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v45_16 {
  width: 118px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 20px;
  left: 61px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
