* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5_80 {
  width: 100%;
  height: 1024px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v21_36 {
  width: 100%;
  height: 358px;
  background: url("../images/v21_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 73px;
  overflow: hidden;
}
.v5_114 {
  width: 726px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v5_170 {
  width: 821px;
  height: 64px;
  background: url("../images/v5_170.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 312px;
  overflow: hidden;
}
.v5_115 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 197px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v5_169 {
  width: 185px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v5_164 {
  width: 821px;
  height: 64px;
  background: url("../images/v5_164.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 196px;
  left: 312px;
  overflow: hidden;
}
.v5_133 {
  width: 143px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v5_134 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 197px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v5_165 {
  width: 821px;
  height: 64px;
  background: url("../images/v5_165.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 294px;
  left: 312px;
  overflow: hidden;
}
.v5_166 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v5_167 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 197px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v21_86 {
  width: 100%;
  height: 421px;
  background: url("../images/v21_86.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 471px;
  left: 73px;
  overflow: hidden;
}
.v21_50 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_51 {
  width: 236px;
  height: 64px;
  background: url("../images/v21_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 76px;
  overflow: hidden;
}
.v21_52 {
  width: 124px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_53 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 195px;
  border-radius: 50%;
}
.v21_54 {
  width: 335px;
  height: 64px;
  background: url("../images/v21_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 460px;
  overflow: hidden;
}
.v21_55 {
  width: 223px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_56 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 294px;
  border-radius: 50%;
}
.v21_57 {
  width: 479px;
  height: 64px;
  background: url("../images/v21_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 248px;
  left: 844px;
  overflow: hidden;
}
.v21_58 {
  width: 398px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_59 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 438px;
  border-radius: 50%;
}
.v21_60 {
  width: 583px;
  height: 64px;
  background: url("../images/v21_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 76px;
  overflow: hidden;
}
.v21_61 {
  width: 500px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_62 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 542px;
  border-radius: 50%;
}
.v21_63 {
  width: 335px;
  height: 64px;
  background: url("../images/v21_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 248px;
  left: 76px;
  overflow: hidden;
}
.v21_64 {
  width: 254px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_65 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 294px;
  border-radius: 50%;
}
.v5_201 {
  width: 236px;
  height: 64px;
  background: url("../images/v5_201.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 686px;
  overflow: hidden;
}
.v5_202 {
  width: 115px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v5_203 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 195px;
  border-radius: 50%;
}
.v5_204 {
  width: 236px;
  height: 64px;
  background: url("../images/v5_204.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 381px;
  overflow: hidden;
}
.v5_205 {
  width: 144px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v5_206 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 195px;
  border-radius: 50%;
}
.v5_220 {
  width: 267px;
  height: 64px;
  background: url("../images/v5_220.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 991px;
  overflow: hidden;
}
.v5_200 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 226px;
  border-radius: 50%;
}
.v5_207 {
  width: 186px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v45_17 {
  width: 239px;
  height: 111px;
  background: url("../images/v45_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 892px;
  left: 1191px;
  overflow: hidden;
}
.v45_18 {
  width: 239px;
  height: 111px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v45_19 {
  width: 118px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 20px;
  left: 61px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
