* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v21_147 {
  width: 100%;
  height: 1024px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v31_8 {
  width: 100%;
  height: 624px;
  background: url("../images/v31_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 257px;
  left: 58px;
  overflow: hidden;
}
.v21_151 {
  width: 100%;
  height: 64px;
  background: url("../images/v21_151.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 6px;
  overflow: hidden;
}
.v21_152 {
  width: 109px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_153 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v21_154 {
  width: 100%;
  height: 76px;
  background: url("../images/v21_154.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 402px;
  left: 6px;
  overflow: hidden;
}
.v21_155 {
  width: 254px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_156 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v21_157 {
  width: 100%;
  height: 72px;
  background: url("../images/v21_157.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 264px;
  left: 6px;
  overflow: hidden;
}
.v21_158 {
  width: 284px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_159 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v21_160 {
  width: 100%;
  height: 80px;
  background: url("../images/v21_160.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 544px;
  left: 6px;
  overflow: hidden;
}
.v21_161 {
  width: 157px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_162 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v21_166 {
  width: 100%;
  height: 68px;
  background: url("../images/v21_166.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 0px;
  overflow: hidden;
}
.v21_167 {
  width: 218px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_168 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v31_9 {
  width: 811px;
  height: 187px;
  background: url("../images/v31_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 916px;
  overflow: hidden;
}
.v21_270 {
  width: 409px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 0px;
  left: 246px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 144px;
  opacity: 1;
  text-align: left;
}
.v21_271 {
  width: 350px;
  height: 10px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 184px;
  overflow: hidden;
}
.v21_272 {
  width: 811px;
  height: 10px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 177px;
  left: 0px;
  overflow: hidden;
}
.v45_47 {
  width: 239px;
  height: 111px;
  background: url("../images/v45_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 881px;
  left: 1191px;
  overflow: hidden;
}
.v45_48 {
  width: 239px;
  height: 111px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v45_49 {
  width: 118px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 20px;
  left: 61px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
