* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v19_16 {
  width: 100%;
  height: 1024px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_43 {
  width: 539px;
  height: 529px;
  background: url("../images/v5_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 595px;
  left: 664px;
  overflow: hidden;
}
.v5_23 {
  width: 454px;
  height: 468px;
  background: url("../images/v5_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 637px;
  left: 165px;
  overflow: hidden;
}
.v5_24 {
  width: 100%;
  height: 74px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 950px;
  left: 0px;
  overflow: hidden;
}
.v5_27 {
  width: 788px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 860px;
  left: 30px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v5_26 {
  width: 795px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 637px;
  left: 62px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Special Elite;
  font-weight: Regular;
  font-size: 288px;
  opacity: 1;
  text-align: left;
}
.v70_6 {
  width: 454px;
  height: 468px;
  background: url("../images/v70_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 536px;
  overflow: hidden;
}
.v70_4 {
  width: 478px;
  height: 463px;
  background: url("../images/v70_4.png");
  opacity: 1;
  position: absolute;
  top: 146px;
  left: 829px;
}
.v70_2 {
  width: 903px;
  height: 46px;
  background: url("../images/v70_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 7px;
  overflow: hidden;
}
.v10_7 {
  width: 445px;
  height: 46px;
  background: url("../images/v10_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 458px;
  overflow: hidden;
}
.v10_9 {
  width: 445px;
  color: rgba(247,154,41,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Special Elite;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v5_42 {
  width: 227px;
  height: 46px;
  background: url("../images/v5_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_36 {
  width: 227px;
  color: rgba(247,154,41,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Special Elite;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v10_3 {
  width: 227px;
  height: 46px;
  background: url("../images/v10_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 229px;
  overflow: hidden;
}
.v10_5 {
  width: 227px;
  color: rgba(247,154,41,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Special Elite;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}
.v70_5 {
  width: 442px;
  height: 400px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 751px;
  border-radius: 50%;
}
