* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5_59 {
  width: 100%;
  height: 1024px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_61 {
  width: 514px;
  height: 512px;
  background: url("../images/v5_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 736px;
  left: 1143px;
  overflow: hidden;
}
.v5_60 {
  width: 546px;
  height: 560px;
  background: url("../images/v5_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 342px;
  left: 420px;
  overflow: hidden;
}
.v5_63 {
  width: 378px;
  height: 380px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 326px;
  left: 140px;
  border-radius: 50%;
}
.v5_67 {
  width: 378px;
  height: 380px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 432px;
  left: 856px;
  border-radius: 50%;
}
.v31_68 {
  width: 558px;
  height: 561px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 642px;
  left: 120px;
  border-radius: 50%;
}
.v5_64 {
  width: 100%;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 33px;
  left: 20px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 288px;
  opacity: 1;
  text-align: left;
}
.v5_65 {
  width: 617px;
  height: 10px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 287px;
  left: 24px;
  overflow: hidden;
}
.v5_66 {
  width: 811px;
  height: 10px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 271px;
  left: 24px;
  overflow: hidden;
}
.v5_69 {
  width: 246px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 455px;
  left: 206px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v5_70 {
  width: 246px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 570px;
  left: 922px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v31_69 {
  width: 510px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 882px;
  left: 24px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v5_71 {
  width: 514px;
  height: 512px;
  background: url("../images/v5_71.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 256px;
  left: 856px;
  overflow: hidden;
}
