* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v31_49 {
  width: 100%;
  height: 1024px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v31_50 {
  width: 617px;
  height: 10px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 446px;
  overflow: hidden;
}
.v31_51 {
  width: 811px;
  height: 10px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 817px;
  overflow: hidden;
}
.v31_52 {
  width: 100%;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 10px;
  left: 539px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 144px;
  opacity: 1;
  text-align: left;
}
.v31_54 {
  width: 837px;
  height: 88px;
  background: url("../images/v31_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 377px;
  left: 226px;
  overflow: hidden;
}
.v31_55 {
  width: 837px;
  height: 88px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v31_56 {
  width: 373px;
  color: rgba(159,152,152,1);
  position: absolute;
  top: 8px;
  left: 66px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v31_57 {
  width: 837px;
  height: 88px;
  background: url("../images/v31_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 539px;
  left: 226px;
  overflow: hidden;
}
.v31_58 {
  width: 837px;
  height: 88px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v31_59 {
  width: 458px;
  color: rgba(159,152,152,1);
  position: absolute;
  top: 8px;
  left: 66px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v31_60 {
  width: 583px;
  height: 111px;
  background: url("../images/v31_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 803px;
  left: 790px;
  overflow: hidden;
}
.v31_61 {
  width: 583px;
  height: 111px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v31_62 {
  width: 414px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 20px;
  left: 85px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
