* {
  box-sizing: border-box;
}
body {
  font-size: 14px;
}
.v5_23 {
  width: 454px;
  height: 468px;
  background: url("../images/v5_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 637px;
  left: 165px;
  overflow: hidden;
}
.v5_24 {
  width: 100%;
  height: 74px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 950px;
  left: 0px;
  overflow: hidden;
}
.v5_26 {
  width: 795px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 637px;
  left: 62px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-family: Special Elite;
  font-weight: Regular;
  font-size: 288px;
  opacity: 1;
  text-align: left;
}
.v5_27 {
  width: 788px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 860px;
  left: 30px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v5_36 {
  width: 227px;
  color: rgba(247,154,41,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Special Elite;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
} 
/* 
.v10_5 
*/
.v5_42 {
  width: 227px;
  height: 46px;
  background: url("../images/v5_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_43 {
  width: 539px;
  height: 529px;
  background: url("../images/v5_43.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 595px;
  left: 664px;
  overflow: hidden;
}

.v5_45 {
  width: 100%;
  height: 1024px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
/*
.v5_59
.v5_72
.v5_76
.v5_80
.v5_162
.v21_2
.v21_3
.v21_4
.v21_5
.v31_28
.v31_49
.v31_71
*/
.v5_46 {
  width: 617px;
  height: 10px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 279px;
  left: 0px;
  overflow: hidden;
}
.v5_47 {
  width: 811px;
  height: 10px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 263px;
  left: 0px;
  overflow: hidden;
}
.v5_48 {
  width: 100%;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 36px;
  left: 32px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 288px;
  opacity: 1;
  text-align: left;
}
.v5_49 {
  width: 837px;
  height: 88px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
/*
.v5_54
.v21_260
.v21_263
.v31_55
.v31_58
*/
.v5_51 {
  width: 160px;
  color: rgba(159,152,152,1);
  position: absolute;
  top: 8px;
  left: 66px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
/*
.v21_261
*/
.v5_52 {
  width: 837px;
  height: 88px;
  background: url("../images/v5_52.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v5_53 {
  width: 837px;
  height: 88px;
  background: url("../images/v5_53.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 136px;
  left: 0px;
  overflow: hidden;
}
.v5_55 {
  width: 250px;
  color: rgba(159,152,152,1);
  position: absolute;
  top: 8px;
  left: 66px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
/*
.v21_264
*/
.v5_56 {
  width: 386px;
  height: 107px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
/*
.v21_140
*/
.v5_57 {
  width: 175px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 18px;
  left: 107px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v5_58 {
  width: 221px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 792px;
  left: 612px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: left;
}
.v5_61 {
  width: 514px;
  height: 512px;
  background: url("../images/v5_61.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 736px;
  left: 1143px;
  overflow: hidden;
}
.v5_63 {
  width: 378px;
  height: 380px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 326px;
  left: 140px;
  border-radius: 50%;
}
.v5_64 {
  width: 100%;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 33px;
  left: 20px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 288px;
  opacity: 1;
  text-align: left;
}
.v5_65 {
  width: 617px;
  height: 10px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 287px;
  left: 24px;
  overflow: hidden;
}
.v5_66 {
  width: 811px;
  height: 10px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 271px;
  left: 24px;
  overflow: hidden;
}
.v5_67 {
  width: 378px;
  height: 380px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 432px;
  left: 856px;
  border-radius: 50%;
}
.v5_69 {
  width: 246px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 455px;
  left: 206px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v5_70 {
  width: 246px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 570px;
  left: 922px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v5_71 {
  width: 514px;
  height: 512px;
  background: url("../images/v5_71.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 256px;
  left: 856px;
  overflow: hidden;
}
.v5_73 {
  width: 409px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 0px;
  left: 125px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 144px;
  opacity: 1;
  text-align: left;
}
/*
.v21_9
*/
.v5_74 {
  width: 350px;
  height: 10px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 184px;
  overflow: hidden;
}
/*
.v21_10
*/
.v5_75 {
  width: 811px;
  height: 10px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 177px;
  left: 0px;
  overflow: hidden;
}
/*
.v21_11
*/
.v5_81 {
  width: 109px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/*
.v21_13
*/
.v5_82 {
  width: 218px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v5_83 {
  width: 284px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v5_84 {
  width: 157px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v5_85 {
  width: 254px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/*
.v21_64
.v21_102
*/
.v5_86 {
  width: 899px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v5_87 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
/*
.v21_14
.v21_153
*/
.v5_88 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
/*
.v21_156
*/
.v5_89 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 22px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
/*
.v21_159
*/
.v5_90 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 30px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
/*
.v5_109
.v5_112
.v5_121
.v5_124
.v5_127
.v5_130
.v21_17
.v21_20
.v21_26
.v21_29
.v21_32
.v21_35
.v21_162
.v21_172
.v21_175
.v21_181
.v21_184
.v21_187
.v21_190
*/
.v5_91 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 18px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
/*
.v21_168
*/
.v5_92 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 106px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
/*
.v21_165
*/
.v5_101 {
  width: 100%;
  height: 64px;
  background: url("../images/v5_101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 187px;
  left: 68px;
  overflow: hidden;
}
.v5_102 {
  width: 100%;
  height: 68px;
  background: url("../images/v5_102.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 299px;
  left: 68px;
  overflow: hidden;
}
.v5_103 {
  width: 100%;
  height: 72px;
  background: url("../images/v5_103.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 411px;
  left: 68px;
  overflow: hidden;
}
.v5_104 {
  width: 100%;
  height: 76px;
  background: url("../images/v5_104.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 523px;
  left: 68px;
  overflow: hidden;
}
.v5_105 {
  width: 100%;
  height: 80px;
  background: url("../images/v5_105.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 635px;
  left: 68px;
  overflow: hidden;
}
.v5_106 {
  width: 100%;
  height: 156px;
  background: url("../images/v5_106.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 747px;
  left: 68px;
  overflow: hidden;
}
.v5_107 {
  width: 100%;
  height: 80px;
  background: url("../images/v5_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 72px;
  left: 53px;
  overflow: hidden;
}
.v5_108 {
  width: 412px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/*
.v5_120
.v21_16
.v21_25
*/
.v5_110 {
  width: 100%;
  height: 80px;
  background: url("../images/v5_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 186px;
  left: 53px;
  overflow: hidden;
}
.v5_111 {
  width: 413px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/*
.v21_19
*/
.v5_114 {
  width: 726px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/*
.v21_38
*/
.v5_115 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 197px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
/*
.v5_134
.v21_40
.v21_44
.v21_195
.v21_199
*/
.v5_117 {
  width: 100%;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/*
.v5_224
.v12_1
.v21_22
.v21_50
.v21_88
.v21_116
.v21_119
*/
.v5_118 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 509px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
/*
.v21_23
.v21_178
*/
.v5_119 {
  width: 100%;
  height: 80px;
  background: url("../images/v5_119.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 642px;
  left: 53px;
  overflow: hidden;
}
.v5_122 {
  width: 100%;
  height: 80px;
  background: url("../images/v5_122.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 528px;
  left: 53px;
  overflow: hidden;
}
.v5_123 {
  width: 385px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/*
.v21_28
*/
.v5_125 {
  width: 100%;
  height: 80px;
  background: url("../images/v5_125.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 414px;
  left: 53px;
  overflow: hidden;
}
.v5_126 {
  width: 383px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/*
.v21_31
*/
.v5_128 {
  width: 100%;
  height: 80px;
  background: url("../images/v5_128.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 300px;
  left: 53px;
  overflow: hidden;
}
.v5_129 {
  width: 188px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/*
.v21_34
*/
.v5_131 {
  width: 100%;
  height: 148px;
  background: url("../images/v5_131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 756px;
  left: 53px;
  overflow: hidden;
}
.v5_133 {
  width: 143px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/*
.v21_43
*/
.v5_164 {
  width: 821px;
  height: 64px;
  background: url("../images/v5_164.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 196px;
  left: 312px;
  overflow: hidden;
}
.v5_165 {
  width: 821px;
  height: 64px;
  background: url("../images/v5_165.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 294px;
  left: 312px;
  overflow: hidden;
}
.v5_166 {
  width: 123px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/*
.v21_46 
*/
.v5_167 {
  width: 624px;
  height: 50px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 14px;
  left: 197px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
/*
.v21_47
.v21_202
*/
.v5_169 {
  width: 185px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/*.v21_41*/
.v5_170 {
  width: 821px;
  height: 64px;
  background: url("../images/v5_170.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 312px;
  overflow: hidden;
}
.v5_200 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 226px;
  border-radius: 50%;
}
/*
.v21_111
.v21_227
*/
.v5_201 {
  width: 236px;
  height: 64px;
  background: url("../images/v5_201.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 686px;
  overflow: hidden;
}
.v5_202 {
  width: 115px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/*.v21_105*/
.v5_203 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 11px;
  left: 195px;
  border-radius: 50%;
}
/*
.v5_206
.v21_53
.v21_91
.v21_106
.v21_109
.v21_207
.v21_222
.v21_225
*/
.v5_204 {
  width: 236px;
  height: 64px;
  background: url("../images/v5_204.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 381px;
  overflow: hidden;
}
.v5_205 {
  width: 144px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/*
.v21_108
*/
.v5_207 {
  width: 186px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/*
.v21_112
*/
.v5_220 {
  width: 267px;
  height: 64px;
  background: url("../images/v5_220.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 991px;
  overflow: hidden;
}
.v5_225 {
  width: 640px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/*
.v21_125
*/
.v10_3 {
  width: 227px;
  height: 46px;
  background: url("../images/v10_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 229px;
  overflow: hidden;
}
.v10_7 {
  width: 445px;
  height: 46px;
  background: url("../images/v10_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 458px;
  overflow: hidden;
}
.v10_9 {
  width: 445px;
  color: rgba(247,154,41,1);
  position: relative;
  top: 0px;
  left: 0px;
  font-family: Special Elite;
  font-weight: Regular;
  font-size: 36px;
  opacity: 1;
  text-align: center;
}

.v12_0 {
  width: 100%;
  height: 64px;
  background: url("../images/v12_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 75px;
  overflow: hidden;
}
.v12_2 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 1153px;
  border-radius: 50%;
}
/*
.v12_11
.v12_15
.v12_19
.v21_120
.v21_129
.v21_133
.v21_137
.v21_235
.v21_239
.v21_243
.v21_249
*/
.v12_3 {
  width: 516px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/*.v21_122*/
.v12_5 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 107px;
  left: 1153px;
  border-radius: 50%;
}
/*
.v21_123
.v21_252
*/
.v12_6 {
  width: 100%;
  height: 64px;
  background: url("../images/v12_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_8 {
  width: 100%;
  height: 64px;
  background: url("../images/v12_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 119px;
  left: 75px;
  overflow: hidden;
}
.v12_9 {
  width: 100%;
  height: 64px;
  background: url("../images/v12_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_10 {
  width: 590px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/* .v21_128*/
.v12_12 {
  width: 100%;
  height: 64px;
  background: url("../images/v12_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 215px;
  left: 75px;
  overflow: hidden;
}
.v12_13 {
  width: 100%;
  height: 64px;
  background: url("../images/v12_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_14 {
  width: 739px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/* .v21_132 */
.v12_16 {
  width: 100%;
  height: 64px;
  background: url("../images/v12_16.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 308px;
  left: 75px;
  overflow: hidden;
}
.v12_17 {
  width: 100%;
  height: 64px;
  background: url("../images/v12_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v12_18 {
  width: 124px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/*
.v21_52
.v21_90
.v21_136
*/
.v15_2 {
  width: 100%;
  height: 256px;
  background: url("../images/v15_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 192px;
  left: 75px;
  overflow: hidden;
}

.v19_16 {
  width: 100%;
  height: 1024px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: relative;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.v21_12 {
  width: 100%;
  height: 64px;
  background: url("../images/v21_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 233px;
  left: 82px;
  overflow: hidden;
}
.v21_15 {
  width: 100%;
  height: 80px;
  background: url("../images/v21_15.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 337px;
  left: 82px;
  overflow: hidden;
}
.v21_18 {
  width: 100%;
  height: 80px;
  background: url("../images/v21_18.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 457px;
  left: 82px;
  overflow: hidden;
}
.v21_21 {
  width: 100%;
  height: 148px;
  background: url("../images/v21_21.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 293px;
  left: 97px;
  overflow: hidden;
}
.v21_24 {
  width: 100%;
  height: 80px;
  background: url("../images/v21_24.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 107px;
  left: 97px;
  overflow: hidden;
}
.v21_27 {
  width: 100%;
  height: 80px;
  background: url("../images/v21_27.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 817px;
  left: 82px;
  overflow: hidden;
}
.v21_30 {
  width: 100%;
  height: 80px;
  background: url("../images/v21_30.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 697px;
  left: 82px;
  overflow: hidden;
}
.v21_33 {
  width: 100%;
  height: 80px;
  background: url("../images/v21_33.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 577px;
  left: 82px;
  overflow: hidden;
}
.v21_36 {
  width: 100%;
  height: 358px;
  background: url("../images/v21_36.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 41px;
  left: 73px;
  overflow: hidden;
}
.v21_37 {
  width: 100%;
  height: 358px;
  background: url("../images/v21_37.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 547px;
  left: 97px;
  overflow: hidden;
}
.v21_39 {
  width: 821px;
  height: 64px;
  background: url("../images/v21_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 312px;
  overflow: hidden;
}
.v21_42 {
  width: 821px;
  height: 64px;
  background: url("../images/v21_42.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 196px;
  left: 312px;
  overflow: hidden;
}
.v21_45 {
  width: 821px;
  height: 64px;
  background: url("../images/v21_45.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 294px;
  left: 312px;
  overflow: hidden;
}
.v21_51 {
  width: 236px;
  height: 64px;
  background: url("../images/v21_51.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 76px;
  overflow: hidden;
}
.v21_54 {
  width: 335px;
  height: 64px;
  background: url("../images/v21_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 460px;
  overflow: hidden;
}
.v21_55 {
  width: 223px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/*
.v21_93 
*/
.v21_56 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 15px;
  left: 294px;
  border-radius: 50%;
}
/*
.v21_65
.v21_103
.v21_210
.v21_219
*/
.v21_57 {
  width: 479px;
  height: 64px;
  background: url("../images/v21_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 248px;
  left: 844px;
  overflow: hidden;
}
.v21_58 {
  width: 398px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/*
.v21_96
*/
.v21_59 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 19px;
  left: 438px;
  border-radius: 50%;
}
/*
.v21_97
.v21_213
*/
.v21_60 {
  width: 583px;
  height: 64px;
  background: url("../images/v21_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 76px;
  overflow: hidden;
}
.v21_61 {
  width: 500px;
  color: rgba(0,0,0,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/*.v21_99 */
.v21_62 {
  width: 41px;
  height: 41px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 23px;
  left: 542px;
  border-radius: 50%;
}
/*
.v21_100
.v21_216
*/
.v21_63 {
  width: 335px;
  height: 64px;
  background: url("../images/v21_63.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 248px;
  left: 76px;
  overflow: hidden;
}
.v21_86 {
  width: 100%;
  height: 421px;
  background: url("../images/v21_86.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 471px;
  left: 73px;
  overflow: hidden;
}
.v21_87 {
  width: 100%;
  height: 421px;
  background: url("../images/v21_87.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 63px;
  left: 59px;
  overflow: hidden;
}
.v21_89 {
  width: 236px;
  height: 64px;
  background: url("../images/v21_89.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 76px;
  overflow: hidden;
}
.v21_92 {
  width: 335px;
  height: 64px;
  background: url("../images/v21_92.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 460px;
  overflow: hidden;
}
.v21_95 {
  width: 479px;
  height: 64px;
  background: url("../images/v21_95.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 248px;
  left: 844px;
  overflow: hidden;
}
.v21_98 {
  width: 583px;
  height: 64px;
  background: url("../images/v21_98.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 76px;
  overflow: hidden;
}
.v21_101 {
  width: 335px;
  height: 64px;
  background: url("../images/v21_101.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 248px;
  left: 76px;
  overflow: hidden;
}
.v21_104 {
  width: 236px;
  height: 64px;
  background: url("../images/v21_104.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 686px;
  overflow: hidden;
}
.v21_107 {
  width: 236px;
  height: 64px;
  background: url("../images/v21_107.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 381px;
  overflow: hidden;
}
.v21_110 {
  width: 267px;
  height: 64px;
  background: url("../images/v21_110.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 991px;
  overflow: hidden;
}
.v21_113 {
  width: 100%;
  height: 448px;
  background: url("../images/v21_113.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 64px;
  left: 86px;
  overflow: hidden;
}
.v21_114 {
  width: 100%;
  height: 372px;
  background: url("../images/v21_114.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 526px;
  left: 86px;
  overflow: hidden;
}
.v21_115 {
  width: 100%;
  height: 448px;
  background: url("../images/v21_115.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 540px;
  left: 59px;
  overflow: hidden;
}
.v21_117 {
  width: 100%;
  height: 64px;
  background: url("../images/v21_117.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 75px;
  overflow: hidden;
}
.v21_118 {
  width: 100%;
  height: 64px;
  background: url("../images/v21_118.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v21_121 {
  width: 100%;
  height: 256px;
  background: url("../images/v21_121.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 192px;
  left: 75px;
  overflow: hidden;
}
.v21_124 {
  width: 100%;
  height: 372px;
  background: url("../images/v21_124.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 62px;
  left: 86px;
  overflow: hidden;
}
.v21_126 {
  width: 100%;
  height: 64px;
  background: url("../images/v21_126.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 119px;
  left: 75px;
  overflow: hidden;
}
.v21_127 {
  width: 100%;
  height: 64px;
  background: url("../images/v21_127.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v21_130 {
  width: 100%;
  height: 64px;
  background: url("../images/v21_130.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 215px;
  left: 75px;
  overflow: hidden;
}
.v21_131 {
  width: 100%;
  height: 64px;
  background: url("../images/v21_131.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v21_134 {
  width: 100%;
  height: 64px;
  background: url("../images/v21_134.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 308px;
  left: 75px;
  overflow: hidden;
}
.v21_135 {
  width: 100%;
  height: 64px;
  background: url("../images/v21_135.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v21_138 {
  width: 386px;
  height: 107px;
  background: url("../images/v21_138.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 298px;
  left: 287px;
  overflow: hidden;
}
.v21_139 {
  width: 386px;
  height: 107px;
  background: url("../images/v21_139.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 562px;
  left: 527px;
  overflow: hidden;
}
.v21_141 {
  width: 185px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 18px;
  left: 107px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v21_147 {
  width: 100%;
  height: 1024px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
/*
.v21_169
.v21_191
.v21_229
.v21_256
.v31_6
*/
.v21_151 {
  width: 100%;
  height: 64px;
  background: url("../images/v21_151.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 6px;
  overflow: hidden;
}
.v21_152 {
  width: 109px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_154 {
  width: 100%;
  height: 76px;
  background: url("../images/v21_154.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 402px;
  left: 6px;
  overflow: hidden;
}
.v21_155 {
  width: 254px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/*
.v21_218
*/
.v21_157 {
  width: 100%;
  height: 72px;
  background: url("../images/v21_157.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 264px;
  left: 6px;
  overflow: hidden;
}
.v21_158 {
  width: 284px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_160 {
  width: 100%;
  height: 80px;
  background: url("../images/v21_160.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 544px;
  left: 6px;
  overflow: hidden;
}
.v21_161 {
  width: 157px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_163 {
  width: 100%;
  height: 156px;
  background: url("../images/v21_163.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v21_164 {
  width: 899px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_166 {
  width: 100%;
  height: 68px;
  background: url("../images/v21_166.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 0px;
  overflow: hidden;
}
.v21_167 {
  width: 218px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_170 {
  width: 100%;
  height: 80px;
  background: url("../images/v21_170.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 239px;
  left: 0px;
  overflow: hidden;
}
.v21_171 {
  width: 412px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/*.v21_180 */
.v21_173 {
  width: 100%;
  height: 80px;
  background: url("../images/v21_173.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 402px;
  left: 0px;
  overflow: hidden;
}
.v21_174 {
  width: 413px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_176 {
  width: 100%;
  height: 148px;
  background: url("../images/v21_176.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 252px;
  left: 0px;
  overflow: hidden;
}
.v21_177 {
  width: 100%;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/*.v21_204 .v21_245 .v21_248*/
.v21_179 {
  width: 100%;
  height: 80px;
  background: url("../images/v21_179.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 126px;
  left: 0px;
  overflow: hidden;
}
.v21_182 {
  width: 100%;
  height: 80px;
  background: url("../images/v21_182.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v21_183 {
  width: 385px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_185 {
  width: 100%;
  height: 80px;
  background: url("../images/v21_185.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 728px;
  left: 0px;
  overflow: hidden;
}
.v21_186 {
  width: 383px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_188 {
  width: 100%;
  height: 80px;
  background: url("../images/v21_188.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 565px;
  left: 0px;
  overflow: hidden;
}
.v21_189 {
  width: 188px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_193 {
  width: 726px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_194 {
  width: 821px;
  height: 64px;
  background: url("../images/v21_194.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 98px;
  left: 312px;
  overflow: hidden;
}
.v21_196 {
  width: 185px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_197 {
  width: 821px;
  height: 64px;
  background: url("../images/v21_197.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 196px;
  left: 312px;
  overflow: hidden;
}
.v21_198 {
  width: 143px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_200 {
  width: 821px;
  height: 64px;
  background: url("../images/v21_200.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 294px;
  left: 312px;
  overflow: hidden;
}
.v21_201 {
  width: 123px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_205 {
  width: 236px;
  height: 64px;
  background: url("../images/v21_205.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 76px;
  overflow: hidden;
}
.v21_206 {
  width: 124px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
/* .v21_242  */
.v21_208 {
  width: 335px;
  height: 64px;
  background: url("../images/v21_208.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 240px;
  left: 460px;
  overflow: hidden;
}
.v21_209 {
  width: 223px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_211 {
  width: 479px;
  height: 64px;
  background: url("../images/v21_211.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 248px;
  left: 844px;
  overflow: hidden;
}
.v21_212 {
  width: 398px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_214 {
  width: 583px;
  height: 64px;
  background: url("../images/v21_214.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 357px;
  left: 76px;
  overflow: hidden;
}
.v21_215 {
  width: 500px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_217 {
  width: 335px;
  height: 64px;
  background: url("../images/v21_217.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 248px;
  left: 76px;
  overflow: hidden;
}
.v21_220 {
  width: 236px;
  height: 64px;
  background: url("../images/v21_220.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 686px;
  overflow: hidden;
}
.v21_221 {
  width: 115px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_223 {
  width: 236px;
  height: 64px;
  background: url("../images/v21_223.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 381px;
  overflow: hidden;
}
.v21_224 {
  width: 144px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_226 {
  width: 267px;
  height: 64px;
  background: url("../images/v21_226.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 156px;
  left: 991px;
  overflow: hidden;
}
.v21_228 {
  width: 186px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_231 {
  width: 640px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_232 {
  width: 100%;
  height: 64px;
  background: url("../images/v21_232.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 119px;
  left: 75px;
  overflow: hidden;
}
.v21_234 {
  width: 590px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_236 {
  width: 100%;
  height: 64px;
  background: url("../images/v21_236.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 215px;
  left: 75px;
  overflow: hidden;
}
.v21_238 {
  width: 739px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_240 {
  width: 100%;
  height: 64px;
  background: url("../images/v21_240.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 308px;
  left: 75px;
  overflow: hidden;
}
.v21_246 {
  width: 100%;
  height: 64px;
  background: url("../images/v21_246.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 96px;
  left: 75px;
  overflow: hidden;
}
.v21_250 {
  width: 100%;
  height: 256px;
  background: url("../images/v21_250.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 192px;
  left: 75px;
  overflow: hidden;
}
.v21_251 {
  width: 516px;
  color: rgba(247,154,41,1);
  position: absolute;
  top: 0px;
  left: 0px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 64px;
  opacity: 1;
  text-align: left;
}
.v21_257 {
  width: 837px;
  height: 405px;
  background: url("../images/v21_257.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 376px;
  left: 242px;
  overflow: hidden;
}
.v21_253 {
  width: 617px;
  height: 10px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 288px;
  left: 0px;
  overflow: hidden;
}
.v21_254 {
  width: 811px;
  height: 10px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 272px;
  left: 0px;
  overflow: hidden;
}
.v21_255 {
  width: 100%;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 27px;
  left: 32px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 288px;
  opacity: 1;
  text-align: left;
}
.v21_259 {
  width: 837px;
  height: 88px;
  background: url("../images/v21_259.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 401px;
  left: 199px;
  overflow: hidden;
}
.v21_262 {
  width: 837px;
  height: 88px;
  background: url("../images/v21_262.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 537px;
  left: 199px;
  overflow: hidden;
}
.v21_265 {
  width: 386px;
  height: 107px;
  background: url("../images/v21_265.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 699px;
  left: 486px;
  overflow: hidden;
}
.v21_266 {
  width: 386px;
  height: 107px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
/*.v31_18*/
.v21_267 {
  width: 191px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 18px;
  left: 107px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v21_268 {
  width: 811px;
  height: 187px;
  background: url("../images/v21_268.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 911px;
  overflow: hidden;
}
.v21_270 {
  width: 409px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 0px;
  left: 246px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 144px;
  opacity: 1;
  text-align: left;
}
.v21_271 {
  width: 350px;
  height: 10px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 159px;
  left: 184px;
  overflow: hidden;
}
.v21_272 {
  width: 811px;
  height: 10px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 177px;
  left: 0px;
  overflow: hidden;
}



.v31_2 {
  width: 100%;
  height: 358px;
  background: url("../images/v31_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 446px;
  left: 0px;
  overflow: hidden;
}
.v31_3 {
  width: 100%;
  height: 421px;
  background: url("../images/v31_3.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 60px;
  left: 86px;
  overflow: hidden;
}
.v31_4 {
  width: 100%;
  height: 448px;
  background: url("../images/v31_4.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 542px;
  left: 86px;
  overflow: hidden;
}
.v31_5 {
  width: 100%;
  height: 372px;
  background: url("../images/v31_5.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 140px;
  left: 86px;
  overflow: hidden;
}
.v31_8 {
  width: 100%;
  height: 624px;
  background: url("../images/v31_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 257px;
  left: 58px;
  overflow: hidden;
}
.v31_9 {
  width: 811px;
  height: 187px;
  background: url("../images/v31_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 916px;
  overflow: hidden;
}
.v31_12 {
  width: 100%;
  height: 808px;
  background: url("../images/v31_12.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 127px;
  left: 87px;
  overflow: hidden;
}
.v31_13 {
  width: 100%;
  height: 804px;
  background: url("../images/v31_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 142px;
  left: 73px;
  overflow: hidden;
}
.v31_17 {
  width: 386px;
  height: 107px;
  background: url("../images/v31_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 674px;
  left: 533px;
  overflow: hidden;
}
.v31_19 {
  width: 181px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 18px;
  left: 107px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v31_23 {
  width: 496px;
  height: 508px;
  background: url("../images/v31_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 481px;
  left: 183px;
  overflow: hidden;
}
.v31_24 {
  width: 410px;
  height: 410px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 224px;
  left: 1222px;
}
.v31_29 {
  width: 514px;
  height: 512px;
  background: url("../images/v31_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 729px;
  left: 1111px;
  overflow: hidden;
}
.v31_31 {
  width: 546px;
  height: 560px;
  background: url("../images/v31_31.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 831px;
  left: 87px;
  overflow: hidden;
}
.v31_32 {
  width: 378px;
  height: 380px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 49px;
  left: 922px;
  border-radius: 50%;
}
.v31_34 {
  width: 100%;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 290px;
  left: 8px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 288px;
  opacity: 1;
  text-align: left;
}
.v31_35 {
  width: 617px;
  height: 10px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 897px;
  left: 24px;
  overflow: hidden;
}
.v31_36 {
  width: 811px;
  height: 10px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 867px;
  left: 24px;
  overflow: hidden;
}
.v31_39 {
  width: 514px;
  height: 512px;
  background: url("../images/v31_39.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 31px;
  left: 204px;
  overflow: hidden;
}
.v31_50 {
  width: 617px;
  height: 10px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 191px;
  left: 446px;
  overflow: hidden;
}
.v31_51 {
  width: 811px;
  height: 10px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 158px;
  left: 817px;
  overflow: hidden;
}
.v31_52 {
  width: 100%;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 10px;
  left: 539px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 144px;
  opacity: 1;
  text-align: left;
}
.v31_54 {
  width: 837px;
  height: 88px;
  background: url("../images/v31_54.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 377px;
  left: 226px;
  overflow: hidden;
}
.v31_56 {
  width: 373px;
  color: rgba(159,152,152,1);
  position: absolute;
  top: 8px;
  left: 66px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v31_57 {
  width: 837px;
  height: 88px;
  background: url("../images/v31_57.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 539px;
  left: 226px;
  overflow: hidden;
}
.v31_59 {
  width: 458px;
  color: rgba(159,152,152,1);
  position: absolute;
  top: 8px;
  left: 66px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v31_60 {
  width: 583px;
  height: 111px;
  background: url("../images/v31_60.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 803px;
  left: 790px;
  overflow: hidden;
}
.v31_61 {
  width: 583px;
  height: 111px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
.v31_62 {
  width: 414px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 20px;
  left: 85px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
.v31_68 {
  width: 558px;
  height: 561px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 642px;
  left: 120px;
  border-radius: 50%;
}
.v31_69 {
  width: 510px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 882px;
  left: 24px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 96px;
  opacity: 1;
  text-align: left;
}
.v31_72 {
  width: 100%;
  height: 784px;
  background: rgba(196,196,196,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 122px;
  border: 10px solid rgba(0,0,0,1);
  overflow: hidden;
}
.v31_73 {
  width: 73px;
  height: 59px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
/*.v31_74 */


.v45_3 {
  width: 37px;
  height: 6px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 26px;
  left: 18px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow: hidden;
}
/*.v45_4 */
.v45_5 {
  width: 31px;
  height: 7px;
  background: rgba(229,229,229,1);
  opacity: 1;
  position: absolute;
  top: 46px;
  left: 34px;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  transform: rotate(-90deg);
  overflow: hidden;
}
.v45_6 {
  width: 73px;
  height: 59px;
  background: url("../images/v45_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 108px;
  left: 0px;
  overflow: hidden;
}
.v45_7 {
  width: 73px;
  height: 59px;
  background: url("../images/v45_7.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 17px;
  left: 0px;
  overflow: hidden;
}
.v45_8 {
  width: 100%;
  height: 784px;
  background: url("../images/v45_8.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 212px;
  left: 119px;
  overflow: hidden;
}
.v45_9 {
  width: 239px;
  height: 111px;
  background: url("../images/v45_9.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 903px;
  left: 1201px;
  overflow: hidden;
}
.v45_10 {
  width: 239px;
  height: 111px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
/* .v45_15
.v45_18
.v45_21
.v45_24
.v45_27
.v45_30 */
.v45_11 {
  width: 118px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 20px;
  left: 61px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 72px;
  opacity: 1;
  text-align: left;
}
/*.v45_16 
.v45_19
.v45_22
.v45_25
.v45_28
.v45_31
.v45_37
.v45_40
.v45_43
.v45_46
.v45_49
*/
.v45_13 {
  width: 239px;
  height: 111px;
  background: url("../images/v45_13.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  overflow: hidden;
}
.v45_14 {
  width: 239px;
  height: 111px;
  background: url("../images/v45_14.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 904px;
  left: 1201px;
  overflow: hidden;
}
.v45_17 {
  width: 239px;
  height: 111px;
  background: url("../images/v45_17.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 892px;
  left: 1191px;
  overflow: hidden;
}
.v45_20 {
  width: 239px;
  height: 111px;
  background: url("../images/v45_20.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 898px;
  left: 1201px;
  overflow: hidden;
}
.v45_23 {
  width: 239px;
  height: 111px;
  background: url("../images/v45_23.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 897px;
  left: 1201px;
  overflow: hidden;
}
.v45_26 {
  width: 239px;
  height: 111px;
  background: url("../images/v45_26.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 905px;
  left: 1201px;
  overflow: hidden;
}
.v45_29 {
  width: 239px;
  height: 111px;
  background: url("../images/v45_29.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 900px;
  left: 1197px;
  overflow: hidden;
}
.v45_35 {
  width: 239px;
  height: 111px;
  background: url("../images/v45_35.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 512px;
  left: 1180px;
  overflow: hidden;
}
.v45_38 {
  width: 239px;
  height: 111px;
  background: url("../images/v45_38.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 882px;
  left: 1201px;
  overflow: hidden;
}
.v45_39 {
  width: 239px;
  height: 111px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}
/*.v45_42
.v45_45
.v45_48
*/
.v45_41 {
  width: 239px;
  height: 111px;
  background: url("../images/v45_41.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 29px;
  left: 1168px;
  overflow: hidden;
}
.v45_44 {
  width: 239px;
  height: 111px;
  background: url("../images/v45_44.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 48px;
  left: 1165px;
  overflow: hidden;
}
.v45_47 {
  width: 239px;
  height: 111px;
  background: url("../images/v45_47.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 881px;
  left: 1191px;
  overflow: hidden;
}


.v52_0 {
  width: 811px;
  height: 187px;
  background: url("../images/v52_0.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 906px;
  overflow: hidden;
}
.v52_1 {
  width: 811px;
  height: 177px;
  background: url("../images/v52_1.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 7px;
  left: 911px;
  overflow: hidden;
}
.v52_2 {
  width: 409px;
  color: rgba(229,229,229,1);
  position: absolute;
  top: 0px;
  left: 289px;
  font-family: ZCOOL QingKe HuangYou;
  font-weight: Regular;
  font-size: 144px;
  opacity: 1;
  text-align: left;
}
.v52_3 {
  width: 350px;
  height: 10px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 149px;
  left: 184px;
  overflow: hidden;
}
.v52_4 {
  width: 811px;
  height: 10px;
  background: rgba(51,51,48,1);
  opacity: 1;
  position: absolute;
  top: 167px;
  left: 0px;
  overflow: hidden;
}


.v70_2 {
  width: 903px;
  height: 46px;
  background: url("../images/v70_2.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 73px;
  left: 7px;
  overflow: hidden;
}
.v70_4 {
  width: 478px;
  height: 463px;
  background: url("../images/v70_4.png");
  opacity: 1;
  position: absolute;
  top: 146px;
  left: 829px;
}
.v70_5 {
  width: 442px;
  height: 400px;
  background: rgba(247,154,41,1);
  opacity: 1;
  position: absolute;
  top: 166px;
  left: 751px;
  border-radius: 50%;
}
.v70_6 {
  width: 454px;
  height: 468px;
  background: url("../images/v70_6.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  opacity: 1;
  position: absolute;
  top: 65px;
  left: 536px;
  overflow: hidden;
}