/* 
     @media only screen and (max-width: 768px) {
      section.dashboard .slick-list .slick-track {
        display: flex;
        padding: 20px 9%
      }
      section.dashboard .slick-list .slide {
        opacity: 1;
      }
      
      header div.wrapper div.article div.description {
        max-height: 100%
      }
      
    } 
    
    @media only screen and (max-width: 1024px) {
    
      div.container header div.wrapper {
        height: 100%;
        text-align:left;
        margin-left:5%;
        width:100%;
     
        /* display:flex; */
      /*}
    }
*/